beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.6.16
chardet==3.0.4
coloredlogs==10.0
executor==21.3
fasteners==0.15
humanfriendly==4.18
idna==2.8
linux-utils==0.6
monotonic==1.5
property-manager==2.3.1
requests==2.22.0
six==1.12.0
soupsieve==1.9.2
urllib3==1.25.3
verboselogs==1.7
